@import url('https://fonts.googleapis.com/css?family=Raleway:700')


$nav-font:                     'Raleway', sans-serif 
$nav-font-color:                rgba(255, 255, 255, 0.75)


$nav-height:                   100px
$hero-layer-color:             rgba(43,46,74, 0.95)

$hero-bg:                      url('../img/hero.jpg') 0 70%

@mixin clearfix()
    &:after,
    &:before
        display: table
        content: ""
        cear: both



.navbar

    top: ($nav-height - 50px)/2
    left: 0
    z-index: 2
    right: 0
    .bottom-line
        border-bottom: 1px solid rgba(255,255,255, .15)
        margin-top: ($nav-height - 50px)/2


.navbar-header,
    // position: absolute
    // top: 50%
    // transform: translateY(-50%);

.navbar-nav
    >li
        >a
            padding-top: 15px
            padding-bottom: 15px
            text-transform: uppercase
            color: $nav-font-color
            font-weight: 700
            font-size: 13px
            font-family: $nav-font
            &:hover
                background-color: rgba(238, 238, 238, 0.15)

.navbar-toggle
    background-color: rgba(255, 255, 255, 0.15)
    span 
        background-color: $nav-font-color

.jumbotron
    background: $hero-bg
    height: 100vh
    width: 100%
    background-size: cover
    position: relative
    padding: 0
    
    .layer
        background-color: $hero-layer-color
        position: absolute
        top: 0
        left: 0
        z-index: 1
        height: 100%
        width: 100%

.row
    @include clearfix

@media (max-width: 991px) 
    $nav-height: 50px

    .navbar
        top: ($nav-height - 50px)/2
        .bottom-line
            margin-top: ($nav-height - 50px)/2
    .container
        >.navbar-collapse
            margin: 0

    .navbar-brand
        img
            max-width: 150px